* {
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  margin: 2em;
}

.step-nav {
  border: 1px solid purple;
  padding: .5em;
}



/* CleanData */

.data-group-list {
  display: inline-block;
  vertical-align: top;
}

.datapoint {
  border: 1px dotted blue;
  padding: 5px;
  margin: 5px;
  position: relative;
}

.data-group-edit-button {
  position: absolute;
  top: 0;
  right: 0;
}

.sighting-data-list {
  border: 1px dashed orange;
  padding: 0;
}

.sighting-data {
  background-color: #CED;
  padding: 0;
  margin: 1px;
}

.sighting-data > li {
  display: inline-block;
  padding: 0 5px 0 0;
}

.hidden-data-points {
  display: none;
}

.shown-data-points {
  display: list-item;
}



/* ShapeDataPoint */

.shape-data-point {
  border: 1px solid black;
  min-height: 50px;
  min-width: 100px;
  margin: 15px;
  display: block;
}

.shape-data-point > div {
  display: inline-block;
}

/*
  .shape-data-point > ul
  but needs to be specific for when it is being dragged
*/
ul.shape-data-point-list {
  list-style-type: none;
  display: inline-block;
  border: 1px dashed red;
  margin: 5px;
  width: 200px;
  justify-content: space-between;
  padding: 0;
}

ul.shape-data-point-list > li {
  display: inline-block;
  border: 1px dotted blue;
  padding: 5px;
  margin: 5px;
}
