* {
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  margin: 2em;
}

ul, li {
  margin: 0;
  padding: 0;
}

.step-nav {
  border: 1px solid purple;
  padding: .5em;
}

/* D3 */


body {
  font-family: 'Open Sans', sans-serif;
}

div#layout {
  text-align: center;
}

div#container {
  width: 1000px;
  height: 600px;
  margin: auto;
  background-color: #2F4A6D;
}

svg {
  width: 100%;
  height: 100%;
}

.bar {
  fill: #80cbc4;
}

text {
  font-size: 12px;
  fill: #fff;
}

path {
  stroke: gray;
}

line {
  stroke: gray;
}

line#limit {
  stroke: #FED966;
  stroke-width: 3;
  stroke-dasharray: 3 6;
}

.grid path {
  stroke-width: 0;
}

.grid .tick line {
  stroke: #9FAAAE;
  stroke-opacity: 0.3;
}

text.divergence {
  font-size: 14px;
  fill: #2F4A6D;
}

text.value {
  font-size: 14px;
}

text.title {
  font-size: 22px;
  font-weight: 600;
}

text.label {
  font-size: 14px;
  font-weight: 400;
}

text.source {
  font-size: 10px;
}

/* End D3 */



/* CleanData */

.data-group-list {
  display: inline-block;
  vertical-align: top;
}

.datapoint {
  border: 1px dotted blue;
  padding: 5px 40px 5px 5px;
  margin: 5px;
  position: relative;
}

.data-group-edit-button {
  position: absolute;
  top: 0;
  right: 0;
}

.collapse-expand-button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.datapoint > ul > li {
  display: inline-block;
  padding: 0 5px;
  margin: 0 5px;
}

.sighting-data-list {
  border: 1px dashed orange;
  padding: 0;
}

.sighting-data {
  background-color: #CED;
  padding: 0;
  margin: 1px;
}

.sighting-data > li {
  display: inline-block;
  padding: 0 5px 0 0;
}

.hidden-data-points {
  display: none;
}

.shown-data-points {
  display: list-item;
}



/* ShapeDataPoint */

.shape-data-point {
  border: 1px solid black;
  min-height: 50px;
  min-width: 100px;
  margin: 15px;
  display: block;
}

.shape-data-point > div {
  display: inline-block;
}

/*
  .shape-data-point > ul
  but needs to be specific for when it is being dragged
*/

/*
ul.shape-data-point-list {
  list-style-type: none;
  display: inline-block;
  border: 1px dashed red;
  margin: 5px;
  width: 200px;
  justify-content: space-between;
  padding: 0;
}

ul.shape-data-point-list > li {
  display: inline-block;
  border: 1px dotted blue;
  padding: 5px;
  margin: 5px;
}
*/

#see-all-data ol {
  display: inline-block;
  vertical-align: top;
}
